

@{

    ViewBag.Title = "إسترجاع كلمة المرور";

}

<div dir="rtl">

    <header>
        <div id="MyPath" class="text-center py-2">
            <h2>
                <a style="text-decoration:none;" href="@Url.Action("Index","Home", new { Area="" }, null)" title="@Url.Action("Index","Home", new { Area="" }, null)">الرئيسية</a>
                /
                <a style="text-decoration:none;" href='@Url.Action("ForgotPassword", "Home")' title='@Url.Action("ForgotPassword", "Home")'>إستعادة كلمة المرور</a>
            </h2>
        </div>
    </header>

    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class=" w-75 form-control m-auto mt-5 mb-5 text-center py-5" dir="rtl">
            <div class="mb-2">
                @if (ViewBag.message != null)
                {
                    <span style="color:red" dir="rtl">
                        @ViewBag.message
                    </span>
                }
            </div>
            <input class="form-control mb-2 w-75 m-auto" name="loginmail" type="email" placeholder="البريد الإكترونى" aria-label="CNTEmail" aria-required="true" required>
            <button class="btn btn-outline-dark" type="submit">إستعادة كلمة المرور</button>
            <a class="btn btn-outline-success" href="@Url.Action("Login","Home", new { Area="" }, null)">تسجيل الدخول</a>
        </div>

    }

</div>